.main-view {
  row-gap: 30px;
}

#movie-card {
  background-color: rgb(245, 245, 245);
  color: red;
  height: 100%;
}

#card-title {
  font-weight: bold;
}

.button {
  border: 1px solid red;
  color: red;
  &:hover {
  background-color: red;
  border: 1px solid red;
  color: rgb(245, 245, 245);
}
&:active {
  background-color: rgb(141, 65, 65) !important;
  color: rgb(245, 245, 245);
}
}