.movie-view {
  color: rgb(245, 245, 245);
}

.label {
  font-weight: bold;
}

.button {
  border: 1px solid red;
  color: black;
}

.button:hover {
  background-color: rgb(173, 84, 84);
  border: 1px solid  black;
  color: black;
}
